@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html{
  body {
    background-color: black;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

@theme inline {
  --animate-move: move 5s linear infinite;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

@font-face {
  font-family: 'black';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ Black.ttf");
}

@font-face {
  font-family: 'bold';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ Bold.ttf");
}

@font-face {
  font-family: 'light';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ Light.ttf");
}

@font-face {
  font-family: 'regular';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ Regular.ttf");
}

@font-face {
  font-family: 'extraBlack';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ ExtraBlack.ttf");
}

@font-face {
  font-family: 'semiBold';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ SemiBold.ttf");
}

@font-face {
  font-family: 'ultraLight';
  src: url("../../public//fonts/Neue\ Plak\ Extended\ UltraLight.ttf");
}

.MyGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
